
@charset "UTF-8";

body{
    padding-bottom: 500px;
}

/* 1 - flex */
.flex{
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* 1 - flex column */

.flex-column{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}