/*rbga*/

.rgba{
    color: rgba(0, 0, 255, 0.623);
}

/*HSL*/

.hls{
    color: hsl(10, 60%, 70%);
}

/*background-color*/

.bg{
    background-color: rgb(25, 126, 126);
}

.bg-2{
    background-color: black;
    color: aquamarine;
}

/* BG image */

.bg-image{
    background-image: url(img/nature.jpg);
    padding: 10px;
    color: white;
}

/* Centralizando bg image*/

.not-centered-bg,
.centered-bg{
    height: 400px;
    width: 400px;
    background-image: url(img/bridge.jpg);
}

.centered-bg{
    background-position: center;
    background-size: cover;
}

/* Padding */

.without-padding, .padding{
    background-color: #111;
    color: #fff;
}

.padding{
    background-color: #333;
    padding: 20px;
}

/* Padding com width */

.without-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #666;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */

.border{
    background-color: #777;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
    border: 8px  solid  black;
}

/* Borda  individual*/

.border-left{
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
}

.border-bottom{
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
}

/* Borda arredondada */

.rounded-p{
border: 4px solid blue;
background-color: #000;
color: blue;
padding: 15px;
border-radius: 15px;
}

.rounded-p-2{
    
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;
    }

/* margem */

.margin{
margin: 10px;
background-color: #222;
}

.margin-top{
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand{
    background-color: #666;
    margin: 5px 10px 15px 20px;
}