@charset "UTF-8";

#desafio{

    
    border-radius: 10px;
    padding: 50px;
    margin: 30px;
    border: 20px solid rgb(23, 219, 66);
    outline: 5px solid blue;
    background-color: rgb(175, 73, 73);

}

.classe{

    background-color: black;
    color: azure;
    border: none;
} 